/* variables */
$margin: 24px;


/* width */
.w100{
  width: 100%;
}

/* max width */
.mw45{
  max-width: 45%;
}
.mw48{
  max-width: 48%;
}

/* min width */
.minWidth250{
   min-width: 250px;
}
.minWidth350{
  min-width: 350px;
}

/* margin */
.m24{
  margin: 0 24px;
}
.marginTop{
  margin-top: $margin;
}

