.hero{
  box-sizing: border-box;
  box-shadow: none;
  padding: 48px 48px 32px 48px;
  position: relative;
  height: 168px;
}

.hero.is-large {
  height: 260px;
  padding-top: 32px;
  text-align: center;
}

.hero.is-large h1{
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 64px;
  color: #fff;
}

.background-superhero-paper {
  background: -webkit-linear-gradient(305deg,#0D47A1,#42A5F5);
  background: linear-gradient(145deg,#0D47A1,#42A5F5);
  background-blend-mode: multiply;
  background-size: cover;
}


