<header>
  <div class="hero background-superhero-paper is-large">
    <h1 class="text-headline">{{myTitle}}</h1>
  </div>
</header>

<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">


</div>


<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">

	<div fxFlex="80%" class="flex-item">
		<app-my-calendar id="calendrierEvenements"></app-my-calendar>
	</div>
	<div fxFlex="20%" class="flex-item">
		<h1></h1>
	</div>
</div>
