<md-toolbar color="primary">
  <span class="fakeLink" routerLink="/acceuil" routerLinkActive="active">BS Miremontaise</span>

  <button md-button routerLink="/admin" routerLinkActive="active">
     Admin
   </button>

  <button md-button routerLink="/moncompte" routerLinkActive="active">
    Mon compte
  </button>

  <button md-button routerLink="/suivi" routerLinkActive="active">
    Suivi
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <button md-raised-button color="accent" (click)="openSettings()">
      <md-icon>settings</md-icon>
      <span>Mes réglages</span>
  </button>
</md-toolbar>
