<div class="flex-container" fxLayout="row" fxLayoutAlign="center flex-start">
  <div fxFlex="50%" class="flex-item">
    <br>
    <md-card class="flex-container" fxLayout="column" fxLayoutAlign="center center">

      <h1>Mon compte</h1>
      <div  *ngIf="userInfoisAvailable">
        <div class="flex-container flex-align-items-end" fxLayout="column">
          <div class="flex-container" fxLayoutAlign="flex-end center">
            <label>Prenom</label>
            <md-input type="text" [(ngModel)]="user.infos.prenom"></md-input>
          </div>

          <div class="flex-container" fxLayoutAlign="flex-end center">
            <label>Nom</label>
            <md-input type="text" [(ngModel)]="user.infos.nom"></md-input>
          </div>

          <div class="flex-container" fxLayoutAlign="flex-end center">
            <label>Tél</label>
            <md-input type="tel" [(ngModel)]="user.infos.telephone"></md-input>
          </div>

          <div class="flex-container" fxLayoutAlign="flex-end center">
            <label>Date de naissance</label>
            <md-input type="text" [(ngModel)]="user.infos.naissance" placeholder="2017-01-18"></md-input>
          </div>

          <div class="flex-container" fxLayoutAlign="flex-end center">
            <label>Club</label>
            <md-input type="text" [(ngModel)]="user.infos.club"></md-input>
          </div>

          <div class="flex-container" fxLayoutAlign="flex-end center">
            <label>Licence</label>
            <md-input type="text" [(ngModel)]="user.infos.licence"></md-input>
          </div>
        </div>

        <div class="flex-container" fxLayoutAlign="center center">
          <label>Sexe</label>
          <md-radio-group name="sexe" [(ngModel)]="user.infos.sexe">
            <md-radio-button value="M">M</md-radio-button>
            <md-radio-button value="F">F</md-radio-button>
          </md-radio-group>
        </div>
        <br>
        <div class="flex-container" fxLayoutAlign="center center">
          <button md-raised-button color="primary" (click)="validerCompte()">
            <span>Valider</span>
          </button>
        </div>
      </div>
    </md-card>
  </div>
</div>
