<div class="flex-container m24">

  <div class="flex-container w100 flex-justify-start flew-wrap"
       fxLayout="row" fxLayoutAlign="center flex-start"
       fxLayout.xs="column"  fxLayoutAlign.xs="center center"
       fxLayout.sm="column"  fxLayoutAlign.sm="center center"
  >
    <md-card class="minWidth350 mw48" id="card-compte-google">
      <h2>Compte Google</h2>
      <div *ngIf="!user.auth">
        <button md-raised-button color="primary" (click)="loginGoogle()">
          Se connecter
        </button>
      </div>

      <div *ngIf="user.auth" class="card-row-flex">
        <div>
          <img [src]=user.auth?.photoURL class="img-compte"/>
          <span>{{user.auth?.displayName}}</span>
        </div>

        <div class="marginTop">
          <button md-raised-button color="accent" (click)="logout()">
            Se déconnecter
          </button>
        </div>
      </div>
    </md-card>

    <md-card class="minWidth350 mw48" id="card-ajout-photos">
      <h2>Ajout de photos</h2>

      <md-card>
        <h3>Choix de l'évènement</h3>
        <div >
          <md-radio-group [(ngModel)]="evenementToUpload" class="flex-container" fxLayout="column" fxLayoutAlign="center flex-start">
            <md-radio-button *ngFor="let evenement of mesEvenements" [value]="evenement.id">
              {{evenement.title}} - {{evenement.date}}
            </md-radio-button>
          </md-radio-group>
        </div>

      </md-card>
      <md-card>
        <h3>Choix des photos</h3>
        <input type="file" (change)="onChange($event)" multiple="multiple"/>
      </md-card>

      <div *ngIf="filesToUpload?.length > 0">
        <button md-raised-button color="primary" (click)="runUpload(evenementToUpload)">Transferer</button>
      </div>

      <md-list>
        <md-list-item *ngFor="let photos of filesToUpload">
          <span>{{photos.name}}</span>
          <md-progress-bar mode="determinate" value="{{photos.progress}}"></md-progress-bar>
        </md-list-item>
      </md-list>
    </md-card>

    <md-card class="minWidth350 mw48" id="card-ajout-resultats">

      <md-input type="text" placeholder="json" name="addResult" (change)="onChangeResults($event)"></md-input>
    </md-card>
  </div>
</div>
