.card-row-flex{
	display: flex;
	align-items: center;
  flex-direction: column;

	.img-compte{
		width: 48px;
		height: 48px;
		border-radius: 50%;
	}
}

md-card{
  margin-bottom: 12px;
  margin-left: 12px;
}
