#calendrierEvenements {
    .calendar-mois-titre {
        padding: 0 24px;
    }
    .flex-item {
        padding: 0 24px;
    }
}

.calendar-mois-titre {
    padding: 0 24px;
}
.flex-item {
    padding: 0 24px;
}

.card-evenement{
  display: flex;
  flex-direction: column;
  .card-evenement-header{

  }
  .card-evenement-inscris{

    .card-evenement-inscris-title{
      font-size: 18px;
      font-weight: 700;
    }
  }
  .card-evenement-inscription{

  }
  .card-evenement-photos{
    .img-event{
      width: 128px;
      height: 128px;
    }
  }
}
