<div class="flex-container" fxLayout="row" fxLayoutAlign="center flex-start">
	<div fxFlex="50%" class="flex-item">
		<div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
			<button md-raised-button color="primary" (click)="decrement()">
				<md-icon>keyboard_arrow_left</md-icon>
			</button>

			<h3 class="calendar-mois-titre">{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>

			<button md-raised-button color="primary" (click)="increment()">
				<md-icon>keyboard_arrow_right</md-icon>
			</button>
		</div>

		<mwl-calendar-month-view
				[viewDate]="viewDate"
				[events]="(events | async) || []"
				(eventClicked)="handleEvent('Clicked', $event.event)"
				>
		</mwl-calendar-month-view>
	</div>
	<div fxFlex="50%" class="flex-item">

		<div *ngIf="action !== ''" class="card-evenement">
      <div class="card-evenement-header">
        <h1>{{selectedEvent?.title}} le {{selectedEvent?.start | date:short}}</h1>
        <h3>à partir de {{selectedEvent?.heure}}</h3>
      </div>

      <hr>

      <div class="card-evenement-inscris">
        <div class="card-evenement-inscris-title">
          <span>Personnes inscrites</span>
          <span class="badge badge-primary">{{nbInscris}}</span>
        </div>

        <md-list>

          <md-list-item *ngFor="let chaqueInscris of listInscris | async" class="list-item">
            {{chaqueInscris?.$value}}
          </md-list-item>
        </md-list>
      </div>

      <div class="card-evenement-inscription">
        <md-input type="text" placeholder="Votre nom ..." [(ngModel)]="inscriptionName"></md-input>
        <button md-raised-button color="primary" (click)="sinscrire()">
          <span>Je compte venir !</span>
        </button>
      </div>

      <div class="card-evenement-photos">
        <div *ngFor="let photos of mesPhotos">
          <img [src] = "photos?.url" [title]="photos?.name" class="img-event"/>
        </div>
      </div>

		</div>

	</div>
</div>
