$margin: 12px;

#listPlayersFollowed{
  button{
    margin-left: 2*$margin;
  }
}
.listPlayerItem {
  margin: $margin 0;
  padding: $margin;
  border-bottom: 1px solid rgba(0,0,0,.12);
  button {
    margin: 0 $margin;
  }
}
