#listPlayersFollowed button {
  margin-left: 24px; }

.listPlayerItem {
  margin: 12px 0;
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  .listPlayerItem button {
    margin: 0 12px; }

/*# sourceMappingURL=my-suivi.component.css.map */
