<div class="flex-container" fxLayout="column">
  <h1>Suivi des joueurs</h1>
  <div class="flex-container" fxLayout="row">

    <div class="flex-item">
      <div id="listPlayersFollowed" class="flex-container" fxLayout="row" fxLayoutAlign="flex-start center">
        <h3>Liste des joueurs suivis</h3>
        <button md-raised-button color="primary" (click)="showAreaAddAplayer()">
          <span>Ajouter un joueur</span>
        </button>
      </div>
      <div *ngIf="!listPlayersAvailable">
        <md-progress-spinner mode="indeterminate"></md-progress-spinner>
      </div>
      <div *ngFor="let joueur of mesJoueurs" class="flex-container flex-justify-start listPlayerItem" fxLayout="row" fxLayoutAlign="flex-start center">
        <div class="flex-item">
          {{joueur.prenom}} {{joueur.nom}} ({{joueur.licence}})
        </div>

        <div class="flex-item">
          <button md-raised-button color="primary" (click)="selectPlayer(joueur)">
            <span>Voir les résultats</span>
          </button>
        </div>
        <div class="flex-item">
          <button md-raised-button color="primary" (click)="showAreaResultsForPlayer(joueur)">
            <span>Ajouter un concours</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="areaToAddPlayer" class="flex-container" fxLayout="column">
    <div class="flex-item" fxFlex="50%">
      <h3>Ajouter un joueur au suivi</h3>
      <div>
        <form [formGroup]="newPlayerForm" (ngSubmit)="addPlayer(newPlayerForm.value)" >
          <md-input type="text" placeholder="Prenom" name="prenom" [formControl]="newPlayerForm.controls['prenom']"></md-input>
          <md-input type="text" placeholder="Nom" name="nom" [formControl]="newPlayerForm.controls['nom']"></md-input>
          <md-input type="text" placeholder="Num Licence" name="licence" [formControl]="newPlayerForm.controls['licence']"></md-input>
          <button md-raised-button color="primary" type="submit">Ajouter</button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="areaToAddResultats" class="flex-container" fxLayout="column">
    <form [formGroup]="PlayerResultsForm" (ngSubmit)="addResultsForPlayer(PlayerResultsForm)" >
      <h3>Saisie des résultats pour {{PlayerResultsForm.controls['prenom'].value}} {{PlayerResultsForm.controls['nom'].value}}</h3>
      <div>
        <md-input type="text" placeholder="Prenom" name="prenom" [formControl]="PlayerResultsForm.controls['prenom']"></md-input>
        <md-input type="text" placeholder="Nom" name="nom" [formControl]="PlayerResultsForm.controls['nom']"></md-input>
        <md-input type="text" placeholder="Num Licence" name="licence" [formControl]="PlayerResultsForm.controls['licence']"></md-input>
      </div>
      <div>
        <md-input type="text" placeholder="année" name="annee" [formControl]="PlayerResultsForm.controls['annee']"></md-input>
        <md-input type="date" placeholder="date" name="date" [formControl]="PlayerResultsForm.controls['date']"></md-input>
        <md-input type="text" placeholder="lieu" name="lieu" [formControl]="PlayerResultsForm.controls['lieu']"></md-input>
        <md-input type="text" placeholder="formation" name="formation" [formControl]="PlayerResultsForm.controls['formation']"></md-input>
        <md-input type="number" step="1" min="4" placeholder="32" name="nbEquipes" [formControl]="PlayerResultsForm.controls['nbEquipes']"></md-input>
        <md-radio-group name="stade" [formControl]="PlayerResultsForm.controls['stade']">
          <md-radio-button *ngFor="let option of resultsOptions" value="{{option}}">{{option}}</md-radio-button>
        </md-radio-group>
        <md-input type="number" step="1" min="0" name="points" [formControl]="PlayerResultsForm.controls['points']"></md-input>
      </div>
      <button md-raised-button color="primary" type="submit">Ajouter</button>
    </form>
  </div>

  <div *ngIf="playerSelected !== null" class="flex-container" fxLayout="column">
    <div class="flex-container" fxLayout="row">
      <h2>{{playerSelected?.prenom}} {{playerSelected?.nom}}</h2>
    </div>
    <div class="flex-container" fxLayout="row">
      <div class="flex-item" fxFlex="50%">
        <h2>Concours Internes</h2>
      </div>
      <div class="flex-item" fxFlex="50%">
        <h2>Concours officiels</h2>
        <div class="flex-container" fxLayout="row">
          <md-radio-group name="anneeChoisie" [(ngModel)]="anneeChoisie" (change)="selectPlayer(playerSelected)">
            <md-radio-button *ngFor="let annee of anneeRange" value="{{annee}}">{{annee}}</md-radio-button>
          </md-radio-group>
        </div>
        <div class="flex-container" fxLayout="column">
          <table class="table">
            <thead>
            <tr>
              <th>Année</th>
              <th>Date</th>
              <th>Lieu</th>
              <th>Résultats</th>
              <th>Points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th>{{anneeChoisie}}</th>
              <th colspan="3">Total</th>
              <th>{{totalPoints}}</th>
            </tr>
            <tr *ngFor="let result of resultats">
              <td>{{result.annee}}</td>
              <td>{{result.date}}</td>
              <td>{{result.lieu}}</td>
              <td>{{result.stade}}</td>
              <td>{{result.points}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
