/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import '../node_modules/angular-calendar/dist/css/angular-calendar.css';
@import 'app/styles/flexbox.css';
@import 'app/styles/content.css';
@import 'app/styles/table.css';

.badge{
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}

.badge-primary{
  background-color: #3f51b5 !important;
}

.fakeLink{
  cursor: pointer !important;
}

